*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto 80px;
    grid-template-areas: "navbar navbar navbar navbar"
                        "header header header header"
                        "main main main main"
                        "footer footer footer footer";
}
h1{
    color: #880e61;
    font-size: 75px;
    font-family:serif;
    text-align: center;
    font-weight: 925px;
    margin-right: 150px;
    background-color:#F734B9;
}
.navbar{
    background-color:#F734B9 ;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: navbar;
    position: sticky;
    top: 0;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center; 
}
.navbar ul li{
padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-family:serif;
}
.logo img{
width: 60px;
padding-top: 5px;
margin: 5px;
}
.redes img{
    padding-top: 8px;
    margin-right: 10px;
}
.header{
    grid-area: header;
    background-image: url(../assets/img/img\ fondo.jpg);
background-repeat: no-repeat;
height: 450px;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
}
.main{
    grid-area: main;
}

.headerImg h2{
    text-align: center;
    font-family:serif;
    font-size: 50px; 
}
.video{
    padding-top: 15px;
    margin-left: 30px;
}
.footer{
    grid-area: footer;
    width:100%;
}
@media(min-width:586px){
    .container{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 250px 80px auto 80px
        grid-template-areas"header header header header"
                        "navbar navbar navbar navbar"
                        "main main main main"
                        "footer footer footer footer";
        }
    }

.listaH2{
    color: #e2049c;
    padding: 20px;
    text-decoration: underline;
    font-family:serif;
    font-size: 30px;
    font-weight: 100px;
}
.navbarr{
    width: 100%;
    background-color:#F734B9 ;
    display: flex;
    justify-content: space-between;
}
.navbarr ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.navbarr ul li{
    padding: 20px;
}
.navbarr ul li a{
    text-decoration: none;
    color: white;
}
.logoProd img{
width: 80px;
padding-top: 5px;
margin: 5px;
}
.redesProd img{
    padding-top: 30px;
    margin-right: 10px;
}
.ropaProductos h3{
text-align: center;
}
.contenedorProducto{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.cajaProducto{
    display: flex;
    flex-direction: column;
}
.cajaProducto img{
    width: 350px;
    padding: 8px;
}
.ropaTC{
    color: #ab2480; 
    text-decoration: underline;
    height: 5px;
}
.textoMC{
    margin-left: 35px;
}