*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    grid-area: main;
}
.headerImg h2{
    text-align: center;
    font-family:serif;
    font-size: 50px; 
}
.video{
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
}
.footer{
    grid-area: footer;
    width:100%;
}
.ropaProductos h3{
    text-align: center;
    }
    .contenedorProducto{
        display: flex;
        justify-content: center;
        padding: 40px;
    }
    .cajaProducto{
        display: flex;
        flex-direction: column;
    }
    .cajaProducto img{
        width: 295px;
        padding: 6px;
    }
    .textoMC{
        margin-left: 35px;
    }
    .ropaTC{
        color: #ab2480; 
        text-decoration: underline;
        height: 20px;
        font-size: 40px;
    }
    .btn{
        
    }
