*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    grid-area: main;
}
.headerImg h2{
    text-align: center;
    font-family:serif;
    font-size: 50px; 
}
.video{
    padding-top: 10px;
    margin-left: 10px;
    display: flex;
}
.footer{
    grid-area: footer;
    width:100%;
}
.listaH2{
    color: #e2049c;
    padding: 20px;
    text-decoration: underline;
    font-family:serif;
    font-size: 30px;
    font-weight: 100px;
}
.ropaProductos h3{
    text-align: center;
    }
    .contenedorProducto{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    .cajaProducto{
        display: flex;
        flex-direction: column;
    }
    .cajaProducto img{
        width: 350px;
        padding: 8px;
    }
    .ropaTC{
        color: #ab2480; 
        text-decoration: underline;
        height: 5px;
    }
    .textoMC{
        margin-left: 35px;
    }


